.header {
    background-color: var(--color-header);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-template-rows: 120px;
    justify-items: center;
    align-items: center;
}

.menu__item {
    color: #fff;
    text-decoration: none;   
    font-size: var(--font-size-text);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text);
}

.header__logo {
    width: 80px;
    height: 80px;
}

.item-check__icon {
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    object-fit: contain;
    border: none;
    width: 20px;
    height: 20px;
    display: block;
}

.item-check__icon--sandwich {
    grid-column: 1 / 3;
}

.menu{
    list-style-type: none;
    width: 100%;
    display: grid;
    justify-items: center;
    grid-column: -3 / -2;
}

.searcher {
    grid-column: -2 / -1;
    display: grid;
    justify-items: center;
}

.searcher__input {
    display: block;
    width: 170px;
    height: 25px;
    border-radius: 7px;
    outline: none;
    font-size: 1.1rem;
    padding-left: 7px;
}

.searcher__input::placeholder {
    font-size: 1rem;
    padding-left: 7px;
}

.menu__container {
    width: 100%;
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1.5fr;
}

.item-check__checker {
    display: none;
}

.item-check__label {
    display: none;
}

.item-check__label--skype, .item-check__label--phone, .item-check__label--mail {
    display: block;
}




@media screen and (max-width: 700px) {
    .header {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .menu__item {
        font-size: var(--font-size-text-mobile);
    }

    .menu__container {
        display: none;
    }

    .item-check__label {
        display: block;
    }

    .item-check__checker--sandwich:checked + .menu__container {
        display: grid;
        justify-items: center; 
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-columns: 1fr;
        width: 80px;
    }

    .item-check__checker--searcher:checked + .searcher__input {
        display: block;
    }
    .searcher__input {
        display: none;
    }

    /* .item-check__icon {
        width: 20px;
        height: 20px;
    } */
}