.presentation{
    width: 100%;
    height: 100vh;
    background-image: url(../images/background_presentation.jpg);
    background-attachment: fixed;
    background-size:  cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    justify-items: center;
    position: relative;
}

.presentation__image {
    position: absolute;
    background-image: url("../images/presentation_image.png");
    background-attachment: fixed;
    background-position: 80px 60%;
    background-size:  400px;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    
}

.presentation__container {
    height: 100%;
    grid-column: 2 / 3;
    display: grid;
    align-content: center;
    justify-items: center;
    z-index: 1;
}

.presentation__title {
    font-size: var(--font-size-title);
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
}

.presentation__subtitle {
    font-size: var(--font-size-subtitle);
    font-weight: 600;
    font-family: var(--font-family-text);
}

.presentation__text {
    width: 270px;
    font-size: var(--font-size-text);
    font-weight: 600;
    text-align: center;
    
}

@media screen and (max-width: 700px) {
    .presentation {
        justify-content: center;
    }

    .presentation__image {
        display: none;
    }

    .presentation__container {
        grid-column: 1 / 3;
    }
}