.trainings {
    height: 470px;
    display: grid;
    justify-items: center;
    align-content: space-around;
    background-color: var(--color-green);
}

.trainings__title {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
}

.trainings__text {
    width: 440px;
    font-size: var(--font-size-text);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text);
}

.trainings__video {
    width: 450px;
    height: 250px;
    border: 0;
}