.trainings {
    height: 100vh;
    display: grid;
    justify-items: center;
    align-content: space-around;
    background-color: var(--color-green);
}

.trainings__title {
    font-family: var(--font-family-title);
    font-weight: var(--font-weight-title);
    font-size: var(--font-size-title);
}

.trainings__text {
    width: 440px;
    font-size: var(--font-size-text);
    font-family: var(--font-family-text);
    font-weight: var(--font-weight-text);
    text-align: center;
}

.trainings__video {
    width: 450px;
    height: 250px;
    border: 0;
}

@media screen and (min-width: 400px)and (max-width: 700px) {
    .trainings__video {
        width: 350px;
        height: 200px;
    }

    .trainings__title {
        font-size: var(--font-size-title-mobile);
    }

    .trainings__text {
        width: 340px;
        font-size: var(--font-size-text-movile);
    }
}

@media screen and (max-width: 400px) {

    .trainings__video {
        width: 300px;
        height: 170px;
    }

    .trainings__text {
        width: 290px;
        font-size: var(--font-size-text-mobile);
    }

    .trainings__title {
        font-size: var(--font-size-title-mobile);
    }
}